.jumbotron
  %h1= "Super awesome marketing speak!"
  %p.lead
    bla bla bla
  = link_to "Sign In", "#", class: "btn btn-success btn-large"

.row-fluid.marketing
  .span6
    %h4 Subheading
    %p Lorem ipsum dolor sit amet
    %h4 Subheading
    %p Lorem ipsum dolor sit amet
    %h4 Subheading
    %p Lorem ipsum dolor sit amet

  .span6
    %h4 Subheading
    %p Lorem ipsum dolor sit amet
    %h4 Subheading
    %p Lorem ipsum dolor sit amet
    %h4 Subheading
    %p Lorem ipsum dolor sit amet
