// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-radius: 5px;
$grey: #999;
$card-color: #b6d7ec; // blue
$card-bg: #3288bd; // light blue
$card-color: #6f810d; // light green
$card-bg: #e6f598; // dark green

.skill-row {
  margin-bottom: 20px;
}

.skill-card {
  $skill-card-size: 50px;
  position: relative;
  width: $skill-card-size;
  height: $skill-card-size;
  text-align: center;
  top: 0;
  left: 0;
  .skill-card-inner {
    background-color: $card-bg;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    color: $card-color;
    .skill {
      position: relative;
      z-index: 1000;
      h4 {
        margin: 0;
        line-height: $skill-card-size;
      }
    }
  }
}

.questions {
  $question-card-size: 35px;
  line-height: $question-card-size;
  .question-card {
    width: $question-card-size;
    height: $question-card-size;
    .skill-card-inner {
      .skill {
        h5 {
          line-height: $question-card-size;
        }
      }
    }
  }

  .question {
    h5 {
      line-height: $question-card-size;
    }
  }
}

span.new {
  font-size: smaller;
  color: #896501;
  background: #fee08b;
  border-radius: $border-radius;
  font-weight: normal;
  padding: 2px 5px 3px;
  line-height: 1;
}

ul.unstyled, ol.unstyled {
  margin-left: 0;
  list-style: none;
  li:first-child {
    border-left: medium none;
    padding-left: 0;
  }
  li {
    border-left: 1px solid $grey;
    display: inline-block;
    padding-left: 5px;
  }
}

.skill-info {
  h5 {
    margin: 0;
  }
  li {
    color: $grey;
  }

  p.description {
    margin: 0;
  }

  .tags {
    margin-top: 5px;
    color: $grey;
  }
}

.skill-header {
  h3 {
    color: #444;
  }
}

.tag-link {
  margin-right: 5px;
}

.questions-link {
  color: $grey;
}

.dl-horizontal {
  dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  dd {
    margin-left: 180px;
  }
}


.manage-button-wrapper {
  float: right;
  line-height: 14px;
  margin-left: 5px;
  .manage-button {
    display: inline-block;
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #444;
    background-color: #f8f8f8;
    border: 1px solid #aaa;
    padding: 0px 7px 1px 7px;
    min-width: 62px;
    text-align: center;
    vertical-align: 2px;
    text-decoration: none;
  }
}
